data/
api_keys.json
models/
tests/
.env
training_embedding/wandb
training_embedding/output
training_embedding/logs
flag_embedding_train/
zalo_graph_vi/
zalo_graph_vi_1/
zalo_wiki/
test/
C:\Users\mhieu\Desktop\graph_llm_reason\training_embedding